// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Add your custom css
.nav-link.active {
    font-weight: bold;
    color: $menu-active;
    border-bottom: solid 2px $menu-active;
}